{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "generator-star-spacing": [2, {"before": true, "after": true}],
    "max-len": [2, 120, 4]
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
  }
}
